body {
    /* padding: 0.75em; */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    margin-bottom: 50px;
}

.center-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-col-d {
    display: table-cell;
}

.p-formgroup-inline {
    margin-left: 50px;
}

.p-button-rounded {
    margin-left: 50px !important;
}

.title {
    margin-left: 50px !important;
}